main {
    border-radius: 16px;
    background: rgba(28, 28, 28, 0.6);
    backdrop-filter: blur(10px);
    height: calc(100vh - 170px);
    padding: 30px;
}

.left-menu {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    gap: 30px;
}

.div1,
.div2 {
    border-radius: 16px;
    background: rgba(28, 28, 28, 0.6);
    backdrop-filter: blur(10px);
    padding: 30px;
}
