.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 80px;
    height: 80px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    align-self: center;
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
        0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: #16161e;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    filter: blur(10px);
}

.loader-center {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    .spinner1 {
        width: 100px;
        height: 100px;
    }
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}
